.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  &:hover {
    border: 3px solid blue;
    cursor: pointer;
  }
}

.cardMedia {
  padding-top: 56.25%; // 16:9
}

.cardContent {
  color: white;
  flex-grow: 1;
  backdrop-filter: blur(15px);
}
